main {
    font-size: 0px;
    margin: 0 auto;
    height: 100px;
    width: 1200px;
    background-color: skyblue;
}
.logo {
    height: 100px;
    float: left;
}
.search {
    float: left;
    width: 538px;
    height: 100px;
    background-color: red;
}