main {
    font-size: 0px;
    height: 100px;
    
    /* background-color: skyblue; */
}
/* logo和搜索框开始 */
.logo_search{
    width: 1200px;
    margin: 0 auto;
}
.logo {
    height: 100px;
    float: left;
}
/* 搜索框开始 */
.search_body {
    display: inline-block;
    width: 538px;
    height: 100px;
    /* background-color: green; */
    padding-top: 32px;
    
}
.search_area {
    float: left;
    width: 398px;
    height: 36px;
    border: 1px solid red;
    border-right: 0;
}
.search_word {
    float: left;
    border: 2px solid red;
    border-left: 0;
    width: 92px;
    height: 36px;
    background-color: #f6f6f6;
    font-size: 12px;
    color: #666;
    text-align: center;
    line-height: 36px;
  
}
.search_img {
    float: left;
    display: inline-block;
    width: 48px;
    height: 36px;
    background-image: url(../image/3.png);
}
.under_script {
    float: left;
    width: 538px;
    height: 20px;
    /* background-color: green; */
    height: 20px;
    font-size: 12px;
    line-height: 20px;
}
.under_script span {
    color: #666;
    float: left;
    margin-right: 7px;
}
.under_script li {
    float: left;
    margin-right: 15px;
}
.under_script li :hover ,.heigh_search:hover {
    color: red;
    text-decoration: underline;
}
.under_script a {
    color: #666;
}
.heigh_search {
    float: left;
}
.search_right {
    float: right;
    width: 184px;
    height: 100px;
    /* background-color: green; */
    padding-top: 30px;
}
.search_right a {
    float: left;
    width: 92px;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
  
}
.s_left { 
    padding-left: 5px; 
    color: white;
    background-color: red;
}
.s_right {
    color: #666;
    background-color: #f6f6f6;
}
.s_left .fa-shopping-cart::before {
    color: white;
    
}
.s_left:hover {
    background-color: white;
    color: red;
}

.s_right:hover {
    color: red;
}
/* 搜索区域结束 */
/* 分类区域开始 */
/* 分类头部开始 */
.classify_top {
    height: 43px;
    border-bottom: 3px solid red;
    
}
.classify_top_main {
    margin: 0 auto;
    width: 1200px;
    height: 43px;
    font-size: 14px;
}
.classify_top_main ul {
    height: 0;
}
.classify_top_main li {
    float: left;
}
.classify_top_main a {
    float: left;
    line-height: 40px;
}
.all_goods {
    width: 200px;
    height: 40px;
    background-color: red;
    margin-right: 17px;
}
.all_goods a {
    width: 200px;
    padding-left: 17px;
    color: white;
    position: relative;
}
.all_goods span {
    font-size: 14px;
    font-weight: 700;
    position: absolute;
    right: 28px;
}

.goods {
    padding: 0 15px;
    height: 40px;
    font-weight: 700;
    color: #323232;
}
.goods:hover {
    color: red;
}
/* 分类头部结束 */
/* 分类主体开始 */
.classify_body {
    height: 508px;
}
.classify_body_content {
    margin: 0 auto;
    width: 1200px;
    height: 508px;
    padding-bottom: 20px;
    /* background-color: red; */
}
/* 分类左侧开始 */
.content_left {
    float: left;
    width: 200px;
    height: 488px;
    background-color: #fafafa;
}
.content_left li {
    height: 30px;
    width: 200px;
    font-size: 14px;
    padding-left: 18px;
    
}
.content_left span a {
    color: #323232;
}
.content_left li:hover {
    border: 2px solid red;
    border-right: none;
}

.content_left span a:hover{
    color: red;
    text-decoration: underline;
}
/* 分类左侧结束 */

/* 分类中间开始 */
.content_middle {
    float: left;
    width: 796px;
    height: 488px;
    background-color: green;
}
.content_middle  {
    position: relative;    
    width: 796px;
    height: 326px;
}

/* 左右箭头 */
.button_left  a {

    top:128px;
    position: absolute;
    width: 33px;
    height: 70px;
    font-size: 40px;
    color: #8a8a8a;
    line-height: 70px;
    background-color: rgb(209, 208, 208);
}

.button_right a {
    top:128px;
    right: 0;
    position: absolute;
    width: 33px;
    height: 70px;
    font-size: 40px;
    color: #8a8a8a;
    line-height: 70px;
    background-color: rgb(209, 208, 208);
}
/* 左右箭头结束 */
/* 数字按钮 */
.button_bottom {
    position: absolute; 
    bottom: 0;
    left:333px;
    bottom: 7px;
    width: 130px;
    height: 20px;
    
}
.button_bottom li {
    float: left;
    margin: 0 6px 0 0;
    border-radius: 10px;
    height: 20px;
    width: 20px;
    background-color: #646464;
    text-align: center;
    line-height: 20px;
}
.button_bottom li a {
    color: #fff;
    font-size: 12px;
}
.button_bottom  :hover {
    background-color: red;
}
/* 数字按钮结束 */
/* 底部图片 */
.middle_bottom {
    width: 796px;
    height: 160px;
}

.middle_bottom div {
    float: left;
    width: 198px;
    height: 160px;
    margin: 0 1px 0 0;
}
/* 底部图片结束 */
/* 分类中间结束 */
/* 分类右侧开始 */
.content_right {
    float: left;
    width: 202px;
    height: 488px;
    
}
.shoes_picture {
    width: 202px;
    height: 195px;
}
.right_message {
    width: 202px;
    height: 172px;
    
}
.mes_top {
    width: 202px;
    height: 28px;
    background-color: #f0f0f0;
    font-size: 14px;
    color: #646464;
    line-height: 28px;
    text-align: center;
}
.mes_top div {
    float: left;
    background-color: #fff;
    width: 101px;
    
}
.mes_top a {
    float: right;
    
    color: #646464;
    width: 101px;
}
.mes_body {
    padding-top: 6px;
    width: 202px;
    height: 142px;
    font-size: 12px;
    background-color: #fff;
}
.mes_body a {
    display: inline-block;
    padding-left: 10px;
    width: 183px;
    height: 25px;
    line-height: 25px;
    color: #646464;
}
.mes_body>ul>li:nth-child(1)>a,.mes_body>ul>li:nth-child(2) a{
    color: red;
}
.mes_body a:hover {
    color: red;
}
.present_card {
    position: relative;
    text-align: center;
}
.card_left,.card_right {
    position: absolute;
    top: 39.5px;
    width: 30px;
    height: 40px;
    font-size: 25px;
    color: #8a8a8a;
    line-height: 40px;
    background-color: rgb(209, 208, 208);
}
.card_left a,.card_right a {
    color: #8a8a8a;
}
.card_right {
    right: 0;
}
.card_circle {
    position: absolute;
    left: 80px;
    bottom: 8px;
    width: 42px;
    height: 8px;
}
.card_circle li {
    float: left;
    margin-right: 6px;
    border-radius: 4px;
    width: 8px;
    height: 8px;
    background-color: #c8c8c8;
    
}
/* 分类右侧结束 */
/* 分类主体结束 */
/* 抢购区域开始 */
/* 抢购区域规划 */
.discount {
    height: 497px;
}
.discount_area {
    margin: 0 auto;
    width: 1200px;
    height: 497px;
}
.dis_left {
    float: left;
  
}
.dis_top {
    width: 996px;
    height: 41px;
    /* background-color: skyblue; */
    border-bottom: 2px solid #666;
}
.dis_body {
    width: 996px;
    height: 456px;
    /* background-color: skyblue; */
}
.dis_right {
    float: left;
    width: 204px;
    height: 497px;
}
/* 抢购区域规划结束 */
/* 抢购区域头部开始 */
.time_left {
    float: left;
    position: relative;
    width: 224px;
    height: 39px;
   
}
.time_left a {
    display: inline-block;
    margin-top: 6px;
    width: 64px;
    height: 39px;
    background-image: url(../image/抢购.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.time_left .iconfont {
    position: absolute;
    top: 3px;
    left: 80px;
    display: inline-block;
    font-size: 30px;
    line-height: 39px;
}
.minute_box {
    position: absolute;
    right: 7px;
    top: 7px;
}
.minute {
    display: inline-block;
    width: 29px;
    height: 29px;
    font-size: 14px;
    color: #666;
    text-align: center;
    line-height: 29px;
    border: 1px solid #666;
}
.divi_mu {
    display: inline-block;
    width: 4px;
    height: 29px;
    font-size: 16px
}
.time_right {
    float: right;
    width: 650px;
    height: 38px;
}
.time_right li {
    float: left;
    margin-right: 50px;
}
.time_right a {
    display: inline-block;
    width: 80px;
    height: 39px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    line-height: 39px;
    color: #666;
    padding-bottom: 1px;
}
/* 抢购区域头部结束 */
/* 抢购区域主体开始 */
.dis_book {
    float: left;
    padding-top: 10px;
    width: 199.2px;
    height: 228px;
    text-align: center;
    font-size: 12px;
    border-left: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}
.dis_bookname {
    margin: o auto;
    padding-top: 15px;
    height: 37px;
}
.dis_bookname a  {
    white-space: nowrap;    /* 防止文本换行 */ 
    overflow: hidden;     /* 隐藏超出的内容 */  
    text-overflow: ellipsis;  /* 超出部分显示省略号 */
    display: inline-block;
    width: 180px;
    height: 82px;
    color: #646464;
}
.dis_book>.dis_bookname> a:hover {
    color: red;
    text-decoration: underline;
}
.dis_book_price {
    margin: 0 auto;
    text-align: left;
    width: 180px;
    height: 20px; 
    line-height: 20px;
    color: red;
    font-size: 16px;
}
.dis_book_price .del {
    color:#646464 ;
    font-size: 12px;
    text-decoration: line-through;
}
/* 打折区域左侧结束 */
/* 打折区域右侧开始 */
/* 打折区域右侧头部开始 */
.disr_head {
    position: relative;
    height: 41px;
    font-size: 16px;
    line-height: 40px;
    border-bottom: 2px solid red;
}
.disr_head h3 {
    
    display: inline-block;
    padding-left: 8px;
    font-weight: 400;
}
h3 span {
    color: red;
}
.disr_head ul {
    position: absolute;
    right: 0;
    top: 16px;
    float: right;
    width: 28px;
    height: 8px;
}
.disr_head ul li {
    float: left;
    margin-right: 6px;
    border-radius: 4px;
    width: 8px;
    height: 8px;
    background-color: #c8c8c8;
}
.disr_head ul li:first-child{
    background-color: red;
}
/* 打折区域右侧头部结束 */
/* 打折区域右侧主体开始 */
.disr_body a img {
    border: 1px solid #e6e6e6;
    width: 204px;
    height: 114px;
    
}
/* 打折区域右侧主体结束 */
/* 打折区域结束 */
/* 图书区域 */
.book_area {
    margin: 30px auto;
    width: 1200px;
    height: 499px;
    
}
.barea_left {
    float: left;
}
.barea_right {
    float: left;
    margin-left: 4px;
    width: 280px;
    height: 499px;
    
}
/*图书左侧开始 */
/* 图书整个布局 */
/* 左侧开始 */
.bleft_head {
    width: 916px;
    height: 46px;
    line-height: 46px;
    margin-bottom: 10px;
    border-bottom: 2px solid #000;
}
.bleft_head div:first-child {
    float: left;
    font-size: 20px;
    font-weight: 700;
}
.bleft_head div:nth-child(2) {
    float: right;
    font-size: 14px;
    color:#646464;
}
.bleft_head a {
    color: black;
}
.bleft_head a:hover {
    color: red;
}
.bleft_head div:nth-child(2) span{
    display: inline-block;
    width: 115px;
    height: 44px;
    background-color: #f5f5f5;
    text-align: center;
    border: 1px solid #e6e6e6;
}
.bleft_head div:nth-child(2) span:hover {
    color: #525252;
    font-weight: 700;
    border:2px solid #000;
    border-bottom:none;
}
.bleft_body {
    width: 916px;
    height: 443px;
}
.left_body_left {
    float: left;
    width: 238px;
    height: 443px;
    border: 1px solid #e6e6e6;
}
.left_body_left a img {
    width: 238px;
    height: 331px;
}
.left_body_left ul {
    width: 238px;
    height: 112px;
    font-size: 12px;
    padding-top: 5px;
}
.left_body_left ul li {
    float: left;
    width: 79px;
    height: 28px;
    padding-left: 16px;
}
.left_body_left ul li a {
    color: #323232;
}
.left_body_left ul li a:hover {
    color: red;
    text-decoration: underline;
}
.left_body_right {
    float: left;
    width: 678px;
    height: 443px;
    
}
.left_body_right>div {
    float: left;
    width: 169.5px;
    height: 221.5px;
    font-size: 12px;
    color: #969696;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}
.left_body_right>div:nth-child(-n+3) {
    border-top: 1px solid #e6e6e6;
}
.left_body_right>div:first-child,.left_body_right div:first-child img {
    /* 控制第一张图与宽度一致 */
    width: 339px;
}
.bright_book {
    padding: 10px;
}
.bright_book a:first-child {
    white-space: nowrap;    /* 防止文本换行 */ 
    overflow: hidden;     /* 隐藏超出的内容 */  
    text-overflow: ellipsis;  /* 超出部分显示省略号 */
}
.bright_book a:nth-child(2) {
    color: #646464;
}
.bright_book a:nth-child(2):hover{
    color: red;
    text-decoration: underline;
}
.br_book_price {
    width: 150px;
    height: 16px;
    margin-top: 3px;
    line-height: 16px;
}
.br_book_price span:first-child{
    font-size: 14px;
    color: red;
}
.br_book_price span:last-child{
    margin-left: 5px;
    text-decoration: line-through; 
}
/* 左侧完成 */
/* 右侧大体布局 */

.bright_head a {
    display: inline-block;
    width: 140px;
    height: 47px;
    font-size: 16px;
    text-align: center;
    line-height: 47px;
    color: #666;
    border: 1px solid #e6e6e6;
}
.bright_head a:hover {
    text-decoration: underline;
}
.barea_right .bright_head a:first-child {
    border-bottom: none;
}
.bright_body {
    width: 278px;
    height: 452px;
    font-size: 12px;
    border: 1px solid #e6e6e6;
    padding-top: 20px;
}
.bright_body ul li a {
    color: #646464;
}
.bright_body ul li:first-child {
    width: 278px;
    height: 133px;
    /* margin-bottom: 63px; */
}
.bright_body ul li:first-child span {
    float: left;
    width: 40px;
    height: 133px;
    color: #ff3288;
    font-weight: 700;
}
.bright_body ul li:first-child a{
    float: left;
    width: 135.56px;
    height: 96px;
}
.bright_body ul li:first-child a:hover {
    color: red;
    text-decoration: underline;
}
.bright_body ul li:nth-child(n+2){
    width: 278px;
    height: 33px;
    line-height: 33px;
}
.bright_body ul li:nth-child(n+2) a:nth-child(2) {
    display: inline-block;
    width: 234px;
    height: 33px;
    border-top: 1px solid #e6e6e6;
}
.bright_body ul li:nth-child(n+1) span {
    padding-left: 15px;
    display: inline-block;
    width: 40px;
}
/* 图书区域完成 */
/* 图书精选店开始 */
.book_store {
    margin: 30px auto;
    width: 1200px;
    height: 382px;
}
.book_store_head {
    width: 1200px;
    height: 42px;
    font-size: 20px;
    
}
.book_store_head a {
    display: inline-block;
    margin: 11px 0 7px;
    padding: 0 0 0 6px;
    width: 147px;
    height: 24px;
    font-weight: 700;
    line-height: 24px;
    background-color: #fff;
    color: #323232;
}
.book_store_head a:hover {
    color: red;
}
.book_store_head span:after {
    content: "|";
    margin-left: -10px;
    font-weight: 100;
}
.book_store_body { 
    height: 340px;
    border-top: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;

    /* background-color: green; */
}
.book_store_body>div {
    float: left;
    width: 398px;
    height: 338px;  
}
.book_store_body>div:nth-child(2) {
    border: 1px solid #e6e6e6;
}
.book_store_body>div:nth-child(2) img {
    width: 100%;
    height: 100%;
}
.book_store_body>.side>div {
    float: left;
    width: calc(100%/2);
    height: 169px;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}
.book_store_body>.side>div>a{
    display: block;
    width: 100%;
    height: 100%; 
}
.book_store_body>.side>div img {
    width: 100%;
    height: 100%;
}

/* 服装区域 */ 
/* 整体布局套用书·图书布局 */
.clothes {
    margin: 0 auto;
    width: 1200px;
}
.clothes>.bleft_head {
    width: 1200px;
}
.clothes .bleft_body {
    width: 1200px;
    height: 579px;
}
.clothes .left_body_left {
    height: 523px;
}
.clothes .left_body_right {
    float: left;
    width: 962px;
    height: 523px;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
   
    
}
.clothes .left_body_right>div {
    padding: 0;
}
.clothes .left_body_right>div:nth-child(-n+4) {
    width: 193px;
    height: 340px;
    border-left: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}
.clothes .left_body_right>div:nth-child(-n+4) img {
    width: 100%;
    height: 100%;
}
.clothes .left_body_right>div:first-child {
    width: 382px;
}
.clothes .left_body_right>div:nth-child(n+5) {
    width: 192px;
    height: 180px;
    border-left: 1px solid #e6e6e6;
    border-bottom:none;
}
.clothes .left_body_right>div:nth-child(n+5) img {
    width: 100%;
    height: 100%;
}
.clothes_foot {
    float: left;
    width: 1200px;
    height: 55px;
    border: 1px solid #e6e6e6;
    border-top: none;
}
.clothes_foot li {
    float: left;
    width: 119px;
    height: 55px;
    padding: 3px 4px 2px 5px;
}
.clothes_foot li a img {
    width: 100%;
    height: 100%;
}
/* 推荐区域 */
.recommend {
    margin: 0 auto;
    width: 1200px;
}
.recom_head {
    padding-left: 5px;
    margin-bottom: 10px;
    height: 36px;
    font-size: 20px;
    color: red;
    font-weight: 700;
    line-height: 36px;
    border-bottom: 2px solid red;
}
.recom_body ul li {
    float: left;
    width: 198px;
    height: 271px;
    padding: 4px 3px 7px;
    border-right:1px solid #e6e6e6;
    border-bottom:1px solid #e6e6e6 ;
}
.recom_body ul li:nth-child(-n+6) {
    border-top:1px solid #e6e6e6 ;
}
.recom_body ul li:nth-child(6n+1) {
    border-left: 1px solid #e6e6e6;
}
.recom_body ul li>a  {
    display: inline-block;
    width: 190px;
    height: 190px;
}
.recom_body ul li a img {
    width: 100%;
    height: 100%;
}

.recom_body ul li div {
    height: 69px;
    font-size: 12px;
    padding: 0 3px;
}
.recom_body ul li div a {
    color: #666;
    overflow: hidden;     /* 隐藏超出的内容 */  
}
.recom_body ul li div a:hover {
    color: red;
    text-decoration: underline;
}
.recom_body ul li div span {
    color: red;
    font-size: 18px;
}